<div>
    <button type="button"  onclick="location.href='/auth/kakao' ">
        <img src="img/kakao_login_medium_narrow.png" />
    </button>
    <br>
    <a href="/auth/kakao">kakao_login</a>
</div>