<div>
    <% if (email && gender && age && profileImage) { %>
        <h2><%= email %></h2>
        <h2><%= gender %></h2>
        <h2><%= age %></h2>
        <img src="<%= profileImage%>" />
    <% } %>
</div>