<div>
    <% if (email && gender && birthday && profile.profile_image_url) { %>
        <h2><%= email %></h2>
        <h2><%= gender %></h2>
        <h2><%= birthday %></h2>
        <img src="<%= profile.profile_image_url %>" />
    <% } %>
</div>